* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0px;
  font-family: Bad Script;
  
}

input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus{
  border: 2px solid #C1D9FD;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

main {
  background: #91eae4;
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  z-index: 1;
  width: 2534px;
  height: 2534px;
  border-radius: 50%;
  background: #F7FAFF;
  box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.7);
  animation-name: fadeCircle;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeCircle{
  0% {
    width: 2534px;
    height: 2534px;
  }
  20% {
    width: 2134px;
    height: 2134px;
  }
  40% {
    width: 1734px;
    height: 1734px;
  }
  60% {
    width: 1334px;
    height: 1334px;
  }
  80% {
    width: 934px;
    height: 934px;
  }
  100% {
    width: 534px;
    height: 534px;
  }
}

.container{
  opacity: 0;
  position: relative;
  z-index: 2;
  max-width: 415px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 38px;
  padding-bottom: 38px;
  animation-name: fadeForm;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeForm{
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

.button {
  background-color: #247FFF;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  opacity:1;
  background-color: #0D6CF2;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.texts {
  text-align: center;
}